%table.table.table-hover
  %thead
    %tr
      %th.center{:colspan => "3"} Asset	
      %th.center{:colspan => "3"} Condition 
      %th.center{:colspan => "3"} Replacement 
    %tr
      %th.center Tag
      %th.center Description
      %th.center Fuel

      %th.center Age
      %th.center Mileage
      %th.center Rating

      %th.center Orig.
      %th.center Curr Val.
      %th.center Est. Cost
      %th.center Sch. Cost
      %th
          
  %tbody
    - assets.each do |a|
      %tr{:data => {:action_path => inventory_path(a)}}
        %td.left= a.asset_tag
        %td.left= a.description
        %td.left= FuelType.find(a.fuel_type_id)

        %td.right= a.age
        %td.right= format_as_integer(a.reported_mileage)
        %td.center= a.reported_condition_type

        %td.right= format_as_currency(a.cost)
        %td.right= format_as_currency(a.estimated_value)
        %td.right= format_as_currency(a.estimated_replacement_cost)
        %td.right= format_as_currency(a.scheduled_replacement_cost)
        %td.center
          %i.fa.fa-info-circle.text-info.popup-details{:data => {:title => "#{a.name}", :content => "#{raw render :partial => 'assets/asset_table_info_popup', :locals => {:asset => a}}"}}
