%ul.nav.nav-tabs
  %li
    %a{:href => "#info", :data =>{:toggle => 'tab'}}
      %span.badge.pull-right= @schedule.maintenance_activities.count
      = "Service Tasks"
  %li
    %a{:href => "#asst", :data =>{:toggle => 'tab'}}
      %span.badge.pull-right= @schedule.assets.count
      = "Vehicles"

.tab-content
  .tab-pane.fade#info
    .tab-content
      = render 'schedule_details'
  .tab-pane.fade#asst
    .tab-content
      = render 'asset_details'
