.row
  = simple_form_for([@asset, @maintenance_event],
      :as => :maintenance_event,
      :url => @maintenance_event.new_record? ? inventory_maintenance_events_path(@asset) : inventory_maintenance_event_path(@asset, @maintenance_event),
      :method => @maintenance_event.new_record? ? 'post' : 'put',
      :html => {:class => 'form-vertical', :id => "new_maintenance_event_form" },
      :wrapper => :vertical_form,
      :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes, :radio_buttons => :vertical_radio_and_checkboxes, :file => :vertical_file_input, :boolean => :vertical_boolean}) do |f|
    .col-md-6.col-md-offset-3
      %fieldset
        %legend Record Service
        = f.input :maintenance_activity_id, :collection => @maintenance_service_order.maintenance_events.each{|x| x.maintenance_activity}
        
        = f.input :event_date, :label => 'Date of Service', :wrapper => :vertical_append do
          = f.input_field :event_date, :as => :string, :class => 'form-control datepicker', :data => {'behavior' => 'datepicker'}, :value => f.object.event_date.strftime("%m-%d-%Y")
          %span.input-group-addon
            %i.fa.fa-calendar

        = f.input :parts_cost, :wrapper=> :vertical_prepend, :label => "Cost of parts" do
          %span.input-group-addon
            %i.fa.fa-usd
          = f.input_field :parts_cost, :class => "form-control"

        = f.input :labor_cost, :wrapper=> :vertical_prepend, :label => "Cost of labor" do
          %span.input-group-addon
            %i.fa.fa-usd
          = f.input_field :labor_cost, :class => "form-control"

        = f.input :miles_at_service, :label => 'Odometer reading'
  
        = f.input :comment
        
        = f.button :submit, :class => 'btn btn-primary'
