%li.dropdown{:class => get_nav_link_class(['workorders'])}
  = link_to maintenance_schedules_path, :class => "dropdown-toggle", :data => {"toggle" => "dropdown"} do
    %i.fa.fa-wrench.fa-2x
    %b.caret
  %ul.dropdown-menu

    %li.text-left
      = link_to maintenance_schedules_path do
        %i.fa.fa-clock-o.fa-fw
        = " Maintenance Schedules"

    %li.text-left
      = link_to maintenance_providers_path do
        %i.fa.fa-wrench.fa-fw
        = " Maintenance Providers"

    %li.divider
    %li.text-left
      = link_to maintenance_service_orders_path do
        %i.fa.fa-clipboard.fa-fw
        = " Service Orders"

    %li.divider
    %li.text-left
      = link_to maintenance_forecasts_path do
        %i.fa.fa-calendar.fa-fw
        = " Service Schedule"

    %li.divider
    %li.text-left
      = link_to new_search_path(:search_type => 999) do
        %i.fa.fa-search.fa-fw
        = " Search Maintenance Schedules"
