%li.divider
%li.text-left
  = link_to maintenance_schedules_path do
    %i.fa.fa-clock-o.fa-fw
    = " Maintenance Programs"

%li.text-left
  = link_to maintenance_providers_path do
    %i.fa.fa-wrench.fa-fw
    = " Maintenance Providers"

%li.divider
%li.text-left
  = link_to maintenance_service_orders_path do
    %i.fa.fa-clipboard.fa-fw
    = " Work Orders"

%li.divider
%li.text-left
  = link_to maintenance_forecasts_path do
    %i.fa.fa-calendar.fa-fw
    = " Service Schedule"

-#%li.divider
-#%li.text-left
-#  = link_to new_search_path(:search_type => SearchType.find_by(class_name: 'MaintenanceSearcher')) do
-#    %i.fa.fa-search.fa-fw
-#    = " Search Maintenance Schedules"
