.row
  = simple_form_for(@maintenance_provider,
  :html => {:class => 'form-vertical'},
  :wrapper => :vertical_form,
  :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes,
    :radio_buttons => :vertical_radio_and_checkboxes,
    :file => :vertical_file_input,
    :boolean => :vertical_boolean}) do |f|
    .col-md-6.col-md-offset-3
      %fieldset
        %legend Maintenance Provider
        = f.input :name
        = f.input :phone, :as => :tel
        = f.input :fax, :as => :tel
        = f.input :url, :as => :url
        = f.input :address1, :label => "Address 1"
        = f.input :address2, :label => "Address 2"
        .row
          .col-sm-6
            = f.input :city
          .col-sm-3
            = f.input :state, :as => :select, :collection => Country['US'].states
          .col-sm-3
            = f.input :zip

        = f.button :submit, :class => 'btn btn-primary'
