.row
  = simple_form_for(@maintenance_provider,
  :html => {:class => 'form-vertical'},
  :wrapper => :vertical_form,
  :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes,
    :radio_buttons => :vertical_radio_and_checkboxes,
    :file => :vertical_file_input,
    :boolean => :vertical_boolean}) do |f|
    .col-md-6.col-md-offset-3
      %fieldset
        %legend Maintenance Provider
        - if @organization_list.count > 1
          = f.association :organization, :required => true, :collection => TransitOperator.all, :label_method => 'coded_name'
        = f.input :name
        .row
          .col-sm-6        
            = f.input :manager
          .col-sm-6
            = f.input :email, :as => :email
        .row
          .col-sm-6        
            = f.input :phone, :as => :tel
          .col-sm-6        
            = f.input :fax, :as => :tel

        = f.input :url, :as => :url, :label => 'Web site'
        = f.input :address1, :label => "Street Address 1"
        = f.input :address2, :label => "Street Address 2"
        .row
          .col-sm-6
            = f.input :city
          .col-sm-3
            = f.input :state, :as => :select, :collection => ISO3166::Country['US'].states.keys
          .col-sm-3
            = f.input :zip

        = f.button :submit, :class => 'btn btn-primary'
