%table.table.table-hover#maintenance_history
  %thead
    %tr
      %th.left Service Date
      %th.left Asset
      %th.left Service Performed
      %th.right Miles at Service
      %th.right Parts
      %th.right Labor
      %th.right Total
      %th.right Technician

  %tbody
    - total_labor = 0
    - total_parts = 0
    - total_total = 0
    - @maintenance_provider.maintenance_events.each do |ev|
      - total_labor += ev.labor_cost
      - total_parts += ev.parts_cost
      - total_total += ev.total_cost
      %tr{:data => {:action_path => inventory_maintenance_event_path(ev.asset, ev)}}
        %td.left= format_as_date(ev.event_date)
        %td.left= ev.maintenance_provider
        %td.left= ev.maintenance_activity
        %td.right= format_as_integer(ev.miles_at_service)
        %td.right= format_as_currency(ev.parts_cost)
        %td.right= format_as_currency(ev.labor_cost)
        %td.right= format_as_currency(ev.total_cost)
        %td.right= ev.completed_by

  %tfoot
    %tr
      %td{:colspan => 4}
      %td.right= format_as_currency(total_parts)
      %td.right= format_as_currency(total_labor)
      %td.right= format_as_currency(total_total)
      %td

= render :partial => 'shared/datatable_javascript', :locals => {:id => 'maintenance_history'}
