- if @asset.respond_to? :maintenance_history
  .tab-pane.fade#mhis
    .tab-content
      - if @asset.maintenance_history.empty?
        %p= "This #{@asset.asset_type} does not have a maintenance history."
      - else
        = render "maintenance_history"
        
  .tab-pane.fade#msch
    .tab-content
      - if @asset.maintenance_schedule.nil?
        %p= "This #{@asset.asset_type} does not have a maintenance scheduled set."
      - else
        = render "maintenance_schedule"

  .tab-pane.fade#odrs
    .tab-content
      - if @asset.maintenance_service_orders.empty?
        %p= "This #{@asset.asset_type} does not have any open service orders."
      - else
        = render :partial => "maintenance_service_orders/index_table", :locals => {:maintenance_service_orders => @asset.maintenance_service_orders}

      .row
        .col-md-12
          %fieldset
            %legend One Time Work Order
            = simple_form_for(MaintenanceServiceOrder.new,
              :wrapper => :vertical_form,
              :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes, :radio_buttons => :vertical_radio_and_checkboxes, :file => :vertical_file_input, :boolean => :vertical_boolean}) do |f|
              = f.hidden_field :asset_id, :value => @asset.id
              .row
                .col-xs-6
                  = f.input :maintenance_provider_id, :collection => @asset.organization.maintenance_providers, :required => true
                .col-xs-6
                  %label.control-label.string.required
                    * Maintenance Events
                  = select_tag :maintenance_activity_types, options_from_collection_for_select(MaintenanceActivityType.active, :id, :name),
        multiple: true, class: 'form-control'
              .row
                .col-xs-12
                  = f.submit :class => 'btn btn-primary', :id => 'submit'
