.row
  = simple_form_for([@schedule, @maintenance_activity],
  :html => {:class => 'form-vertical'},
  :wrapper => :vertical_form,
  :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes,
    :radio_buttons => :vertical_radio_and_checkboxes,
    :file => :vertical_file_input,
    :boolean => :vertical_boolean}) do |f|
    .col-md-6.col-md-offset-3
      %fieldset
        %legend Service Task
        = f.input :maintenance_activity_type_id, :collection => MaintenanceActivityType.active, :label => 'Service type'
        .row
          .col-xs-4
            = f.input :maintenance_repeat_interval_type_id, :collection => MaintenanceRepeatIntervalType.active, :include_blank => false, :label => "Service interval"
          .col-xs-4
            = f.input :interval, :label => ""
          .col-xs-4
            = f.input :maintenance_service_interval_type_id, :collection => MaintenanceServiceIntervalType.active, :include_blank => false, :label => ""

        = f.input :required_by_manufacturer, :as => :radio_buttons
        - if @maintenance_activity.new_record?
          = f.button :submit, :class => 'btn btn-primary', :value => 'Save service task'
          = f.button :submit, :class => 'btn btn-success pull-right', :value => 'Save service task and add another'
        - else
          = f.button :submit, :class => 'btn btn-primary', :value => 'Update service task'
