.btn-group.pull-right.panel-action
  %button.btn.btn-primary.btn-sm.dropdown-toggle{:data => {:toggle => 'dropdown'}}
    %i.fa.fa-cog
    = " Actions"
    %span.caret
  %ul.dropdown-menu{:role => 'menu'}
    %li
      - @maintenance_service_order.allowable_events.each do |evt|
        = link_to fire_workflow_event_maintenance_service_order_path(@maintenance_service_order, :event => evt) do
          %i.fa.fa-fw{:class => get_mms_event_icon(evt)}
          = "#{evt.humanize} this work order"
    - if @maintenance_service_order.started?
      %li.divider
      %li.text-left
        = link_to complete_maintenance_service_order_path(@maintenance_service_order) do
          %i.fa.fa-fw.fa-wrench
          = " Record Service"
    - if @maintenance_service_order.completed?
      %li.text-left
        = link_to "#" do
          %i.fa.fa-fw.fa-print
          = " Print Invoice"

    - if @maintenance_service_order.pending?
      %li.divider
      %li
        = link_to maintenance_service_order_path(@maintenance_service_order), :method => :delete, :data => {:confirm => "Are you sure you want to remove this work order? The action can't be undone."} do
          %i.fa.fa-trash-o.fa-fw
          = " Remove this work order"
