%table.table.table-hover#maintenance_orders_datatable
  %thead
    %tr
      %th.left Number
      %th.right Date
      %th.right Status
      %th.right Provider
      %th.right Asset
      				
  %tbody
    - maintenance_service_orders.each do |o|      
      %tr.popup-details{:data => {:action_path => maintenance_service_order_path(o)}}
        %td.left= o.workorder_number
        %td.right= format_as_date(o.order_date)
        %td.right= o.state
        %td.right= o.maintenance_provider
        %td.right= o.asset.description

= render :partial => 'shared/datatable_javascript', :locals => {:id => 'maintenance_orders_datatable'}
